extends base.pug

block scripts
  script(src="../static/script.js") ;

block style 
 style
   include   ../static/stylenavbar.css
   include   ../static/stylehome.css

block content 
    div#home.bg6 
      h1 welcome To Our MilkDairy Website 
      p Note:-please create account and login for  your daily uses
